<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>tiantian</title>
	<meta name="description" content="Tianyu's Portfolio">
	<meta name="keywords" content="Tianyu, Hu, portfolio, UI, UX, game, html5">
	<meta name="author" content="Tianyu">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="stylesheets/loader.css"> 

	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/grid.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">


	<link rel="stylesheet" type="text/css" href="stylesheets/colors/ruby-red.css">
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/aqua-blue.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/mint-green.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/rose-pink.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/sunflower-yellow.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/jeans.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/grape.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/grass.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/lavander.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/colors/gray.css"> -->

	<link rel="stylesheet" type="text/css" href="stylesheets/animations.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
	<![endif]-->

</head>

<body class="royal_loader">

	<!-- Begin Navigation -->
	<nav class="clearfix">

		<!-- Logo -->
		<div class="logo">
			<a id="top" href="#"><img src="images/logo.png" width="91" height="30" alt="Visia"></a>
		</div>

		<!-- Mobile Nav Button -->
		<button type="button" class="nav-button" data-toggle="collapse" data-target=".nav-content">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>

	    <!-- Navigation Links -->
	    <div class="navigation">
			<ul class="nav-content">
				<li><a class="active" href="#section1">Hello</a></li>
				<li><a href="#section2">About</a></li>
				<li><a href="#section3">Strenghs</a></li>
				<li><a href="#section4">Folio</a></li>
				<li><a href="blog.html">Blog</a></li>
			</ul>
		</div>

	</nav>
	<!-- End Navigation -->	

	<!-- Begin Hero -->
	<section id="section1" class="parallax-bg1 hero parallax clearfix">

		<!-- Content -->
		<div class="dark content container">

			<!-- Headings -->
			<div class="ticker">
				<h1>Creative ideas.</h1>
				<h1>In-depth research.</h1>
			 	<h1>Reliable design.</h1>
		 	</div>

		 	<!-- Buttons -->
			<ul class="call-to-action">
				<li><a class="button" href="#section2">Learn more</a></li>
				<li><a class="button no-border" href="#section4" target="_blank">My Works<i class="icon right"></i></a></li>
			</ul>

		</div>

	</section>
	<!-- End Hero -->

	<!-- Begin About -->
	<section id="section2" class="content container">

		<!-- Text -->
		<div class="title grid-full">
			<h2>About me</h2>
			<span class="border"></span>
			<p class="sub-heading">I'm Tianyu Hu, a UX researcher and designer from China, trained in the USA. I love to explore the trendy world but I also take trendy seriously because research is also fun for me. </p>
		</div>

		<!-- Image -->
		<img class="animated slide"  data-appear-bottom-offset="100" src="images/about.jpg" alt="About Visia">
	</section>
	<!-- End About -->

	<!-- Begin Services -->
	<section id="section3" class="parallax-bg2 parallax colored clearfix">
		<div class="content dark padded container">

			<!-- Text -->
			<div class="title grid-full">
				<h2>My Strengths</h2>
				<span class="border"></span>
				<p class="sub-heading">From user study to quick prototype, from product innovation to usability test, my interdisciplinary education as well as industry experiences enable me to do the whole process right, creative and productive. While my international background and urban-country trsfering life mode just granted me the most interesting vision ever.</p>
			</div>

			<!-- Icons -->
			<ul class="icons clearfix">

				<!-- Single Icon -->
				<li class="overview animated entrance" data-appear-bottom-offset="100">

					<!-- Feature List -->
					<div class="tooltip">
						<ul class="feature-list">
							<li><span class="list-dot"></span>User Study</li>
							<li><span class="list-dot"></span>Usability Test</li>
							<li><span class="list-dot"></span>Information Architecture</li>
							<li><span class="list-dot"></span>Wireframing</li>
						</ul>
					</div>
					<span class="arrow-down"></span>

					<!-- Icon -->
					<div class="icon ux"></div>

					<!-- Title -->
					<h4>UX</h4>

				</li>

				<!-- Single Icon -->
				<li class="overview animated entrance" data-appear-bottom-offset="100">

					<!-- Feature List -->
					<div class="tooltip">
						<ul class="feature-list">
							<li><span class="list-dot"></span>Typesetting</li>
							<li><span class="list-dot"></span>Mobile Apps</li>
							<li><span class="list-dot"></span>Games</li>
						</ul>
					</div>
					<span class="arrow-down"></span>

					<!-- Icon -->
					<div class="icon design"></div>

					<!-- Title -->
					<h4>Design</h4>
				</li>

				<!-- Single Icon -->
				<li class="overview animated entrance" data-appear-bottom-offset="100">

					<!-- Feature List -->
					<div class="tooltip">
						<ul class="feature-list">
							<li><span class="list-dot"></span>Paper Review</li>
							<li><span class="list-dot"></span>Competitive Analysis</li>
							<li><span class="list-dot"></span>Secondary Research</li>
							<li><span class="list-dot"></span>Data Analysis</li>
						</ul>
					</div>
					<span class="arrow-down"></span>

					<!-- Icon -->
					<div class="icon seo"></div>

					<!-- Title -->
					<h4>Research</h4>
				</li>

				<!-- Single Icon -->
				<li class="overview animated entrance" data-appear-bottom-offset="100">


					<!-- Feature List -->
					<div class="tooltip">
						<ul class="feature-list">
							<li><span class="list-dot"></span>HTML and CSS</li>
							<li><span class="list-dot"></span>Unity 3D</li>
							<li><span class="list-dot"></span>Arduino</li>
						</ul>
					</div>
					<span class="arrow-down"></span>

					<!-- Icon -->
					<div class="icon tech"></div>

					<!-- Title -->
					<h4>Tech</h4>
				</li>

				<!-- Single Icon -->
				<li class="overview animated entrance" data-appear-bottom-offset="100">

					<!-- Feature List -->
					<div class="tooltip">
						<ul class="feature-list">
							<li><span class="list-dot"></span>Communication</li>
							<li><span class="list-dot"></span>Adaptation</li>
							<li><span class="list-dot"></span>Leadership</li>
							<li><span class="list-dot"></span>Collaboration</li>
						</ul>
					</div>
					<span class="arrow-down"></span>

					<!-- Icon -->
					<div class="icon ux"></div>

					<!-- Title -->
					<h4>Strengths</h4>

				</li>

				<!-- Single Icon -->
				<li class="overview animated entrance" data-appear-bottom-offset="100">

					<!-- Feature Lis -->
					<div class="tooltip">
						<ul class="feature-list">
							<li><span class="list-dot"></span>Chinese</li>
							<li><span class="list-dot"></span>Piano</li>
							<li><span class="list-dot"></span>World traveller</li>
						</ul>
					</div>
					<span class="arrow-down"></span>

					<!-- Icon -->
					<div class="icon commerce"></div>


					<!-- Title -->
					<h4>Extra</h4>
				</li>

			</ul>
		</div>
		
	</section>
	<!-- End Services -->

	<!-- Begin Portfolio -->
	<section id="section4" class="portfolio clearfix">

		<!-- Title -->
		<div class="content container">
			<div class="title grid-full">
				<h2>My work</h2>
				<span class="border"></span>
			</div>
			<!-- Filters -->
			<ul class="filtering grid-full">
				<li class="filter" data-filter="all">all</li>
			    <li class="filter" data-filter="category_1">UI</li>
			    <li class="filter" data-filter="category_2">UX</li>
			    <li class="filter" data-filter="category_3">Games</li>
			    <li class="filter" data-filter="category_4">Typesetting</li>
			</ul>
		</div>

		<!-- Ajax Section -->
		<div class="ajax-section container">
			<div class="loader"></div>
			<div class="project-navigation">
				<ul>
					<li class="nextProject"><a href="#"></a></li>
					<li class="prevProject"><a href="#"></a></li>
				</ul>
			</div>
			<div class="closeProject">
				<a href="#"><i class="icon-remove"></i></a>               
			</div>
            <div class="ajax-content clearfix"></div>
		</div>
		<!-- End Ajax Section -->

		<!-- Thumbnails -->
		<ul id="portfolio-grid" class="projectlist clearfix">
			<li class="project mix category_1 mix_all">
				<a href="#!betwine.html">
					<img src="images/betwine.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>BeTwine</h4>
							<h6><em>UI / game</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_1 mix_all">
				<a href="#!spartangreen.html">
					<img src="images/spartangreen.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>Spartan Green</h4>
							<h6><em>UX </em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_3 mix_all">
				<a href="#!spaceduet.html">
					<img src="images/spaceduet.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>Space Duet</h4>
							<h6><em>Game</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_2 mix_all">
				<a href="#!crazytrain.html">
					<img src="images/crazytrain.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>MSU Crazy Train</h4>
							<h6><em>Game</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_1 mix_all">
				<a href="#!shunote.html">
					<img src="images/shunote.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>Shunote</h4>
							<h6><em>UI</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_3 mix_all">
				<a href="#!kaixinkids.html">
					<img src="images/kaixinkids.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>Kaixin Kids</h4>
							<h6><em>UX</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_1 mix_all">
				<a href="#!changyou.html">
					<img src="images/changyou.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>Changyou</h4>
							<h6><em>Typesetting</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_1 mix_all">
				<a href="#!medbot.html">
					<img src="images/medbot.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>MedBot</h4>
							<h6><em>UX</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_2 mix_all">
				<a href="#!ongaku.html">
					<img src="images/ongaku.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>On-gaku</h4>
							<h6><em>Typesetting</em></h6>
						</div>
					</div>
				</a>
			</li>
			<li class="project mix category_4 mix_all">
				<a href="#!aio.html">
					<img src="images/aio.png" alt="thumbnail">
					<div class="projectinfo">
						<div class="meta">
							<h4>Aio Cards</h4>
							<h6><em>UX / UI</em></h6>
						</div>
					</div>
				</a>
			</li>
		</ul>

	</section>
	<!-- End Portfolio -->

	<!-- Begin Footer -->
	<footer id="footer" class="clearfix">
		<div class="content container">

			<!-- Contact Links -->
			<ul class="contact animated hatch clearfix">
				<li class="grid-2">
					<img src="images/icons/telephone.png" alt="telephone" width="20" height="20">
					<p>+ 517-348-5590</p>
				</li>
				<li class="grid-2">
					<a id="contact-open" href="#">
						<img src="images/icons/mail.png" alt="mail" width="20" height="20">
						<br>
						<p>hutianyu@msu.edu</p>
					</a>
				</li>
				<li class="grid-2">
					<a href="http://goo.gl/C2BR1y" target="_blank">
						<img src="images/icons/location.png" alt="location" width="20" height="20">
						<br>
						<p>404 Wilson Road.<br>East Lansing, MI, 48824</p>
					</a>
				</li>
			</ul>
		</div>

		<!-- Contact Form -->
		<div id="contact-form" class="dark clearfix">
			<div class="container">
				<div class="contact-heading grid-full">
					<h3>Get in touch</h3>
					<span class="border"></span>
				</div>
			</div>

			<form method="post" action="post.php" name="contactform" id="contactform" class="container">
				<fieldset>
					<div class="form-field grid-half">
						<label for="name">Name</label>
						<span><input type="text" name="name" id="name" /></span>
					</div>
					<div class="form-field grid-half">
						<label for="email">Email</label>
						<span><input type="email" name="email" id="email" /></span>
					</div>
					<div class="form-field grid-full">
						<label for="message">Message</label>
						<span><textarea name="message" id="message"></textarea></span>
					</div>
				</fieldset>
				<div class="form-click grid-full">
					<span><input type="submit" name="submit" value="Send" id="submit" /></span>
				</div>
				<div id="alert" class="grid-full"></div>
			</form>	
		</div>

		<div class="container">

			<!-- Social Links -->
			<ul class="social-links grid-full">
				<li><a href="https://www.facebook.com/arieltianyu" target="_blank"><img src="images/icons/facebook-small@2x.png" alt="facebook" width="36" height="36"></a></li>
				<li><a href="https://www.linkedin.com/pub/tianyu-hu/7a/42a/3a7" target="_blank"><img src="images/icons/linkedin-small@2x.png" alt="LinkeIn" width="36" height="36"></a></li>

				<!-- Dribble
				<li><a href="http://dribbble.com" target="_blank"><img src="images/icons/dribbble-large.png" alt="dribbble" width="36" height="36"></a></li>
				-->

				<!-- LinkedIn
				<li><a href="http://linkedin.com" target="_blank"><img src="images/icons/linkedin-large.png" alt="linkedin" width="36" height="36"></a></li>
				-->

				<!-- YouTube
				<li><a href="http://youtube.com" target="_blank"><img src="images/icons/youtube-large.png" alt="youtube" width="36" height="36"></a></li>
				-->

				<!-- Vimeo
				<li><a href="http://vimeo.com" target="_blank"><img src="images/icons/vimeo-large.png" alt="vimeo" width="36" height="36"></a></li>
				-->

				<!-- Flickr
				<li><a href="http://flickr.com" target="_blank"><img src="images/icons/flickr-large.png" alt="flickr" width="36" height="36"></a></li>
				-->

				<!-- RSS
				<li><a href="http://rss.com" target="_blank"><img src="images/icons/rss-large.png" alt="rss" width="36" height="36"></a></li>
				-->

				<!-- Google Plus
				<li><a href="http://google.com" target="_blank"><img src="images/icons/google-large.png" alt="google" width="36" height="36"></a></li>
				-->
			</ul>

			<!-- Copyright Info -->
			<div class="copyright grid-full"><h6>©2014 Tianyu Hu. All rights reserved.</h6></div>

		</div>
	</footer>
	<!-- End Footer -->

	<!-- Javascript -->
	<script src="javascript/royal-preloader.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">

		//Replace with your own image's paths
	   var images = {
	        'parallax1':    'http://www.aetherthemes.com/demo/visia/images/hero.jpg',
	        'parallax2':    'http://www.aetherthemes.com/demo/visia/images/services-red.jpg',
	        'parallax3':    'http://www.aetherthemes.com/demo/visia/images/clients.jpg',
	        'About Us': 	'http://www.aetherthemes.com/demo/visia/images/about.jpg',
	        'Team':     	'http://www.aetherthemes.com/demo/visia/images/team.jpg',
	        'Thumb1':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project1.jpg',
	        'Thumb2':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project2.jpg',
	        'Thumb3':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project3.jpg',
	        'Thumb4':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project4.jpg',
	        'Thumb5':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project5.jpg',
	        'Thumb6':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project6.jpg',
	        'Thumb7':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project7.jpg',
	        'Thumb8':   	'http://www.aetherthemes.com/demo/visia/images/thumbnails/project8.jpg'
	    };
	 
	    // config
	    Royal_Preloader.config({
	        mode:       'number',
	        images:     images,
	        timeout:    10,
	        showInfo:   false,
	        background: ['#ffffff']
	    });
	</script>
	<script src="javascript/retina.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/smoothscroll.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/waypoints.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/parallax.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/navigation.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.mixitup.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.easing.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.fittext.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.localscroll.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.scrollto.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.appear.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.waitforimages.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.bxslider.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/jquery.fitvids.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/main.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascript/shortcodes.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>